button {
    color:#111;
    background-image: linear-gradient(to bottom,#ffffff 0,#777777 100%);
    background-repeat: repeat-x;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    cursor: pointer;
    border-width:1px;
    border-color: #777;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}
.printme { display:none;}
@media print {
  .noprint {display:none;}
  .printme {display:block;}
}